<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{../../favicon.ico}">

    <title>CHoice - Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/webjars/org.webjars.bower/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css"
          th:href="@{/webjars/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">

    <link rel="stylesheet" th:href="@{/css/dashboard.css}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container">
    <div class="row">
        <div class="row">
            <div th:replace="fragments/header :: header">
                <nav class="navbar navbar-inverse navbar-fixed-top"></nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="content-wrapper">
            <div class="page-header">
                <h1>List of courses
                    <a class="btn btn-primary btn-dashboard-header" href="create/">
                        <i class="fa fa-fw fa-plus"></i> add new
                    </a>
                </h1>
            </div>

            <div th:replace="fragments/notification :: messages"></div>

            <!--/*@thymesVar id="course" type="ch.wisv.choice.course.model.Course"*/-->
            <table class="table">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Predecessor</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course : ${courses}">
                    <td th:text="${course.getCode()}"></td>
                    <td th:text="${course.getName()}"></td>
                    <td th:text="${course.getPredecessor()}"></td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <a th:href="'delete/'" class="btn btn-danger">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("table").DataTable({
            pageLength: 100,
            columnDefs: [
                {
                    targets: [3],
                    width: "50px"
                }
            ]
        });
    })
</script>
</body>
</html>